{% extends 'base.html' %}

{% load static tz %}

{% block content %}
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row" style="display: flex; justify-content: center; margin-bottom: 3em" >
			<div class="col-md-10 order-details">
        <div class="section-title text-center">
          <h3 class="title">Your Orders</h3>
        </div>
        <div class="cart-list">
          {% if not orders %}
          <p style="text-align: center">Seems lonely in here :(</p>
          <a href="/products" class="primary-btn order-submit"
            >Browse Products</a
          >
          {% else %} {% for order in orders %}
          <div class="product-widget">
              <div class="product-body">
                <div class="row" onclick="window.location = '/order/{{order.slug}}'">
                    <div class="col-md-6">
                      <h3>
                        Order #{{order.id}}
                      </h3>
                      <h4 class="product-price">MVR {{order.total}}</h4>
                    </div>
                    <div class="col-md-6">
                      <h4 class="product-price">Status: <span class="reset-product-price">{{order.status}}</span></h4>
                      <h4 class="product-price">Date: <span class="reset-product-price">{{order.created_at|localtime}}</span></h4>
                    </div>
                </div>
          </div>
          {% if not forloop.last %}
          <hr />
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

{% endblock %}